# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# SQLite
*.db
*.db-journal

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Publish
publish/

# API documentation (generated)
scalar/
